
  * {
    margin: 0px;
  }

  .home-section {

    &__btn {
      margin-top: 20px;
    }

    &__heading {
      text-align: center;
      margin: 20px;
    }

    &__para {
      text-align: center;
      margin: 20px;
    }

    &__img {
      margin-top: 10px;
      background-color: white;
      border: 10px double skyblue;
    }

  }

  .about-section {

    &__heading {
      text-align: center;
      margin: 20px;
    }

    &__para {
      text-align: justify;
      text-justify: inter-word;
      margin: 20px;
    }

  }

  .product-section {

    &__btn {
      margin-top: 10px;
    }

    &__heading {
      text-align: center;
      margin: 20px;
    }

    &__para {
      text-align: center;
      margin: 20px;
    }

    &__img {
      margin-top: 10px;
      background-color: white;
      border: 10px double skyblue;
      height: 80%;
      width: 100%;
    }

    &__price {
      font-weight: bold;
      font-size: 20px;
    }

  }

  .row {
    margin: 30px 0px;
  }


  body {

    height: 1500px;
    background-image: linear-gradient(to bottom right, white, skyblue);
  }

  .btn {
    margin: auto;
  }

  .nav-item {
    margin: 0px 10px;
  }

  .nav-link {
    text-transform: uppercase;
  }

  .navbar-brand img {
    border-radius: 50%;
  }

  .cart-section {

    &__heading {
      margin: 20px;

    }

    &__img-wrapper {
      width: 150px;
      height: 275px;
    }

    &__quanity-heading {
      text-align: center;
    }

    &__quanity-wrapper {
      position: relative;
      bottom: 30%;
   
    }


  }

  .contact-section {
    &__heading {
      text-align: center;
      margin: 20px;
    }
  }

